*{
	padding: 0px;
	margin:0px;
}
 
 .banner{
 	background-image: linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/t.jpg);
 	height: 100vh;
 	background-position: center;
 	background-size: cover;
 	width: 100%;
 	overflow: hidden;
 }
 header{
 	background: #9898e047;
    height: auto;
    padding: 25px;
    font-family: fangsong;

 }
 .main ul{
 	 	list-style-type: none;
 	 	text-align: center;
 	 	display: inline-flex;
 }
 .main ul li{
 	
/* display: inline-block; */
 	
padding: 10px;
 	
border:1px solid transparent;
 }
 .main ul li a{
 	text-decoration: none;
    color: blue;
    
        }
 .active,.main ul li:hover{
 	background-color: white;

 	transition: 0.6s ease;
 }
  .drop{
 	display: none;
 }
.main ul li:hover .drop{
	display: block;
	background: #e2e2f6;
	position: absolute;
	margin-top: 11px;
	margin-left: -11px;
	text-align: left;
}
.main ul li:hover .drop ul{
	display: block;
}
 .title{
 	
position: absolute;
 	
top: 50%;
 	
left: 50%;
 	
transform: translate(-50%,-50%);
 	
transition: 0.6s;
 }
 .title h1{
 	font-size: 50px;
 	color: white;
 	text-transform: uppercase;
 }
 .button{
 	position: absolute;
 	top: 60%;
 	left: 50%;
 	transform: translate(-50%,-50%);
 	overflow: hidden;

 }
 .button button{
 	padding: 10px 0px 10px 0px;
 	margin: 5px;
 	border-radius: 15px;
 	background-color: #66a3ff;
 	overflow: hidden;
 	border: 1px solid transparent;
 	}
 .button button a{text-decoration: none;
 	padding: 20px 20px 20px 20px;
 	color: black;}
 	 .button button:hover{
 	 	background: white;
 	 	color: white;
 	 	box-sizing: border-box;
 	 }
 	 .button button a:hover{color: #66a3ff;
 	 	overflow: hidden;}
 	 	.aboutus{
 	 		text-align: center;
 	 		width: 70%;
 	 		margin: auto;
 	 		height: 400px;
 	 		margin-top: 40px;
 	 		font-family: sans-serif;
 	 	}
 	 	.about{
 	 		float: left;
 	 		width: 400px;
 	 		margin: 25px;
 	 	}
 	.about-img{
 		background: #f1f1f1;
 		height: 80px;
 		width:80px;
 		border-radius: 50%;
 		position: relative;
 		left: 50%;
 		transform: translateX(-50%);
 		margin-bottom: 15px;
 	}
 	.abouts{
 		background:#f1f1f1;
 		box-sizing: border-box;
 		padding: 30px;
 		position: relative;
 		margin-top: 20px;
 	}
 	.abouts:after{
 		content: '';
 		background: #f1f1f1;
 		left: 50%;
 		top: 10%;
 		transform: translateX(-44%) translateY(-68%) rotate(45deg);
 		position: absolute;
 		width: 40px;
 		height: 40px;
 		z-index: -1;
	 }
	 .container{
		 height: 300px;
		 width: 300px;
		 margin: auto;
		 background-color: #66a3ff;
		 border: 1px solid #66a3ff;
		 border-radius: 50%;
		}
		.container img{
			width: 100%;
		}
		.portfolio{
    width: 1000px;
    margin: auto;
    background-color: #d1d8d8;
    height: 600px;
}
.portfolio h1{
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
    padding: 68px 0px;
}
.portfolio span{
    color: orange;
}
		.portfolio .content{
    float: left;
    /* display: block; */
    width: 29.33%;
    /* box-sizing: border-box; */
    /* padding: 12px; */
    background-color: white;
    /* margin: 0px 10px 0px 10px; */
    border-radius: 10px;
    margin: 0px 20px;
}
		.portfolio .content .pic{
    /* width: 33.33%; */
}
.portfolio .content .pic img{
	
width: 100%;
}
.description{

}
.description h4{

font-size: 20px;

font-family: sans-serif;

padding: 10px 0px 5px;
}
.description p{

font-size: 13px;

padding: 10px 0px 15px;

font-family: sans-serif;

line-height: 15px;
}
.content-child{
    padding: 0px 14px;
}
.design{
	background-image: url(../images/Group_33094_1.png);
	height: 200px;
	width: 60%;
	margin: auto;
	background-repeat: no-repeat;
	background-size: cover;
}
